.largeScreenMainMenu {
  width: 100%;
  display: flex;
  justify-content: space-around;
  background: #0076be;
  position: relative;
  z-index: 100;
  margin-top: 2rem;
}

.contentMaxWidth {
  display: flex;
  justify-content: space-around;
  gap: 5rem;
  width: 85%;
}

.contentMaxWidth .leftMenu {
  display: flex;
}

.contentMaxWidth .rightMenu {
  display: flex;
}

.subNavLi {
  list-style-type: none;
  display: flex;
  align-items: center;
}

.largeScreenMainMenu .contentMaxWidth > ul > li > a {
  color: #fff;
  font-weight: 600;
  font-size: 16px;
  text-decoration: none;
  display: inline-block;
  margin: -1rem 0;
  padding: 15px 10px 15px 15px;
  position: relative;
  transition: color 0.4s ease-in-out, background 0.4s ease-in-out,
    opacity 0.4s ease-in-out;
  display: flex;
  align-items: center;
  min-width: max-content;
}

.icon {
  font-size: 1.5rem;
}

.largeScreenMainMenu .contentMaxWidth > ul > li > a:hover {
  background: #004a86;
  color: #fff;
}
